.album {
    &--active {
        background-color: goldenrod;
    }
    &__thumbnail {
        & > img {
            width: 190px;
            border-radius: 0.25rem;
        }
        &--active {
            border: 1px solid goldenrod;
        }
    }

    &__name {
        font-weight: bold;
    }
}
